<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
        <script src="../static/main.js"></script>
    </head>
    <body>
        <div id="status"></div>
        <form action="./" method="POST">
            {% csrf_token %}
            <ul>
                <li> <label for="name">Username </label>
                <input type="text" size="30"  name="name" id="name"  /></li>
                <li> <label for="name">Password</label>
                <input type="password" size="30"  name="word" id="word"  /></li>
                <li> <label></label>
                <input type="submit" id="login" name="login" value="Login" class="loginbutton" ></li>
            </ul>
        </form>
    </body>
</html>